@page
@model WebApplication3.Pages.Bikes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bikes[0].BikeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bikes[0].Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bikes[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bikes[0].Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bikes[0].BrandId)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bikes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BikeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandId)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.BikeId">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.BikeId">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.BikeId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
