@page
@model WebApplication3.Pages.Bookings.IndexModel


@{
    ViewData["Title"] = "Booking";
}

<h2>Booking</h2>

<p>
    <a asp-page="Create">Create New</a>
    @*<a asp-page="Details">Go To Details</a>*@
</p>


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].BikeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].Bike.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking[0].Bike.Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <!--Loops through items in Booking-->
    <tbody>
        @foreach (var item in Model.Booking) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <!--Connections to Customer Model and Bike Model were made in index.cshtml.cs so now i can access that data and show it on the booking page -->
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.BikeId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Bike.Model)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Bike.Price)
                </th>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
                </td>
            </tr>
        }
            </tbody>
</table>
